{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'case_quizzes/styles.css' %}" rel="stylesheet">
        <title>Polish Cases</title>
        <script>
            var adjectives = JSON.parse('{{ adjectives|safe }}');
            var slownik = JSON.parse('{{ js_slownik|safe }}');
            console.log(adjectives)
            console.log(slownik)
        </script>
    </head>
    <body>
        <h1>Words:</h1>

        <p>{{ slownik }}</p>
        <p>{{ slownik.nadwaga }}</p>

        {% for key, value in slownik.items %}
            <ul>
                <li>{{ key }}: {{ value }}</li>
            </ul>
        {% endfor %}

        <p class="counter">0</p>
        <h2></h2>
        <button onclick="hello()">Click Here</button>
        <button class="counter">Count</button>

        <form>
            <input autofocus id="name" placeholder="Name" type="text">
            <input type="submit">
        </form>

        <h3 id="frajda">Frajda!</h3>
        <button id="color" data-color="red">Czerwony</button>
        <button id="color" data-color="blue">Niebieski</button>
        <button id="color" data-color="green">Zielony</button>

        <select>
            <option value="black">Black</option>
            <option value="pink">Pink</option>
            <option value="purple">Purple</option>
        </select>

        <h1>Vocab</h1>

        <ul id="vocab">
        </ul>

        <form id="vocab">
            <input id="vocab" placeholder="Słowo" type="text">
            <input type="submit">
        </form>

        <script src="{% static 'case_quizzes/quiz.js' %}"></script>
    </body>
</html>
